<ion-view class="carpark-home">
  <ion-nav-title>Banca Intesa Sanpaolo</ion-nav-title>

  <ion-content>
    <form name="carParkForm" novalidate>

      <div class="card">
        <div class="row padding-top row-center">
          <div class="col">
            <h3 class="text-center main-title ">Trova Parcheggio</h3>
          </div>

        </div>

        <div class="row row-center">
          <div class="col col-center text-center">
            <span class="icon-car home-car-icon"></span>
          </div>
        </div>

        <div class="row row-center">
          <div class="col col-10"></div>
          <div class="col col-70">

          <!--  <label class="item item-input item-floating-label">
              <span class="input-label input-label-intesa">Numero Matricola</span>
              <input name="employeeCode" ng-model="homeForm.employeeCode" class="registerNumberFont text-center"
                     type="text" placeholder="Matricola" ng-focus="ctrl._setValid()" required />
            </label>-->

            <label class="item item-input">
            <!--  <span class="input-label input-label-intesa">Numero Matricola</span>-->
              <input name="employeeCode" ng-model="homeForm.employeeCode" class="registerNumberFont text-center"
                     type="text" placeholder="Matricola" ng-focus="ctrl._setValid()" required />
            </label>


            <div class="text-center assertive" ng-messages="carParkForm.employeeCode.$error" role="alert">
              <div ng-message="required">La matricola non può essere vuota</div>
            </div>

            <div class="text-center assertive" ng-messages="showError" ng-show="showError" role="alert">
              <div>{{ errorDescription }}</div>
            </div>

          </div>
          <div class="col col-10"></div>
        </div>
        <div class="row">
          <div class="col col-10"></div>
          <div class="col col-70 col-center">
            <ion-checkbox ng-model="rememberRegNumber" ng-change="ctrl.toggleRemember()">Ricorda Matricola
            </ion-checkbox>
          </div>
          <div class="col col-20"></div>
        </div>

        <div class="row">
          <div class="col col-100">
            <div class="padding-top"></div>

            <a type="button" class="button button-block button-positive button-intesa" ng-click="ctrl.goToCarParkList(homeForm.employeeCode)" ng-disabled="carParkForm.$invalid">
              Procedi
            </a>
          </div>
        </div>

      </div>
    </form>
  </ion-content>


</ion-view>
