@import "main";

.carpark-home {
  .padding-top {
    padding-top: 30px;
  }
  span.icon-car {
    &.home-car-icon {
      font-size: 9em !important;
      color: $positive;
    }
  }
  .registerNumberFont {
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    padding-right: 0 !important;
    text-transform: uppercase;
  }
  .input-label-intesa {
    color: $positive;
    margin-left: auto;
    margin-right: auto;
  }

  input.ng-invalid.ng-dirty {
   // border: solid 1px $assertive;
    background-color: rgba($assertive, .3);
  }
}


